.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7.2rem;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  margin: 0 auto;

  max-width: 192rem;
  width: 100%;

  padding: 0 2.4rem;

  &__logo {
  }

  &__list {
    display: flex;
    gap: 2.4rem;

    font-size: 2rem;
  }

  &__item {
    position: relative;
  }

  &__dropdown {
    position: absolute;
    top: calc(100% + 2rem);
    left: 50%;
    transform: translateX(-50%);

    padding: 1.6rem 3.2rem;

    &--open {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1.6rem;
    }
  }

  &__dropdown-name {
    width: max-content;
  }
}
